<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8db087">  <td>20/10/04 19:58:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.closeBrowser()[pri:0, instance:web.encashoffers.tests.EncashUITest@7920ba90]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/10/04 19:57:49</td>   <td>-26698</td> <td title="&gt;&gt;Driver.configurationRead()[pri:0, instance:web.encashoffers.tests.EncashUITest@7920ba90]">&gt;&gt;configurationRead</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="b871a5">  <td>20/10/04 19:57:51</td>   <td>-24041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EncashUITest.encashUI_verifyLogo()[pri:1, instance:web.encashoffers.tests.EncashUITest@7920ba90]">encashUI_verifyLogo</td> 
  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/10/04 19:58:15</td>   <td>89</td> <td title="&lt;&lt;Driver.extentFlush()[pri:0, instance:web.encashoffers.tests.EncashUITest@7920ba90]">&lt;&lt;extentFlush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/10/04 19:57:49</td>   <td>-26542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.init(java.lang.reflect.Method)[pri:0, instance:web.encashoffers.tests.EncashUITest@7920ba90]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
</table>
