<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>web.encashoffers.tests.EncashUITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>encashUI_login_logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>encashUI_jishi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>encashUI_navigationBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>encashUI_verifyLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>encashUI_Banner</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
