<h2>Methods that were not run</h2><table>
<tr><td>web.encashoffers.tests.EncashUITest.encashUI_jishi</td></tr>
<tr><td>web.encashoffers.tests.EncashUITest.encashUI_navigationBar</td></tr>
<tr><td>web.encashoffers.tests.EncashUITest.encashUI_Banner</td></tr>
<tr><td>web.encashoffers.tests.EncashUITest.encashUI_login_logout</td></tr>
</table>