<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b871a5">  <td>20/09/29 14:04:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Banner()[pri:4, instance:web.encashoffers.tests.UITest@6b419da]">Banner</td> 
  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:03:39</td>   <td>-76751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.closeBrowser()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:06</td>   <td>-48949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.closeBrowser()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:32</td>   <td>-23061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.closeBrowser()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:58</td>   <td>2423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.closeBrowser()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:03:15</td>   <td>-100356</td> <td title="&gt;&gt;Driver.configurationRead()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&gt;&gt;configurationRead</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:58</td>   <td>2737</td> <td title="&lt;&lt;Driver.extentFlush()[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&lt;&lt;extentFlush</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:03:15</td>   <td>-100183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.init(java.lang.reflect.Method)[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:03:39</td>   <td>-76622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.init(java.lang.reflect.Method)[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:07</td>   <td>-48828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.init(java.lang.reflect.Method)[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>20/09/29 14:04:33</td>   <td>-22849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.init(java.lang.reflect.Method)[pri:0, instance:web.encashoffers.tests.UITest@6b419da]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="b871a5">  <td>20/09/29 14:04:01</td>   <td>-54193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.jishi()[pri:2, instance:web.encashoffers.tests.UITest@6b419da]">jishi</td> 
  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="b871a5">  <td>20/09/29 14:04:29</td>   <td>-26591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.navigationBar()[pri:3, instance:web.encashoffers.tests.UITest@6b419da]">navigationBar</td> 
  <td>main@2143437117</td>   <td></td> </tr>
<tr bgcolor="b871a5">  <td>20/09/29 14:03:38</td>   <td>-77017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.verifyLogo()[pri:1, instance:web.encashoffers.tests.UITest@6b419da]">verifyLogo</td> 
  <td>main@2143437117</td>   <td></td> </tr>
</table>
